{% extends "base.html" %} {% block content %}

{% if user_logged_in %}

{% if errors %} 
<div class="alert alert-danger">
    <ul>
        {% for error in errors %} 
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}


<h1> Lisää uusi resepti </h1>

<form method="post" action="{{base_path}}/recipes">
    <div class="form-group">
        <label>Reseptin nimi</label>
        <input type="text" name="name" class="form-control">
    </div>

    <!-- <div class="form-group">
        <label>TODO KATEGORIAVALITSIN</label>
        <input type="text" name="categories" class="form-control">
    </div>
    */
    -->
    <div class="form-group">
        <label>Raaka-aineet</label> <br>{%for i in 0..15%}

        <select name="ingredients[]">
            <option value="-1"></option>
            {% for ingredient in ingredients %}
            <option value="{{ingredient.id}}">{{ingredient.ingredientname}}</option>
            {% endfor %}
        </select>
        <br>
        
        
        <label>Määrä</label>
        <input type="text" name="amounts[]">
        <!-- Tsekkaa tää -->

        <br> {% endfor %}
    </div>

    <div class="form-group">
        <label for="resepti">Resepti</label>
        <textarea class="form-control" name="method" rows="8" id="resepti"></textarea>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lähetä</button>
    </div>


</form>

{% endif %}

{% if not user_logged_in %}
<h4 class="alert alert-info">Kirjaudu sisään lisätäksesi reseptin </h4>
{% endif %}



{% endblock %}