{% extends "base.html" %} {% block content %} 

{% if message %}

<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1> {{recipe.name}}</h1>

<h4> Kategoria: {{category.categoryname}} </h4>

<h3> Tarvikkeet </h3>

<ul class="list-unstyled" style="width:40%; float:left">
    {% for a in recipe.ingredient %}
    <li>{{a.ingredientname}}, määrä: {{a.amount}}</li>
    {% endfor %}
</ul>

<!--<ul class="list-unstyled" style="width:10%; float:left">
    {% for a in ingredients %}
    <li>{{a.name}}</li>
    {% endfor %}
</ul>

<ul class="list-unstyled" style="width:10%; float:left">
    {% for a in amounts %}
    <li>{{a.amount}}</li>
    {% endfor %}
</ul>-->

<br>
<br>
<br>

<h3>Ohjeet</h3>
<p>{{recipe.method}}</p>


<h3>Kommentit</h3>

<ul class="list-unstyled">
    {% for review in reviews %}
    <li> {{review.message}} </li>
    {% endfor %}
</ul>



<form method="post">
    <div class="form-group">
        {% if user_logged_in %}
        <label> Kommentti </label>
        <textarea class="form-control" name="comment"></textarea>
        <input type="hidden" name="recipe_id" value="{{recipe_id}}">
        <button type="submit" class="btn btn-primary">Lähetä</button>
        {% else %}
        <div class="alert alert-info">
        <strong>Huom!</strong> Sinun tulee olla kirjautunut sisään kommentointia varten!
        </div>
        {% endif %}
    </div>
</form>



{% endblock %}