{% extends "base.html" %} {% block content %} {% import "macros/forms.html" as forms %}
<h1>Reseptit</h1>

{% if deletemessage %} 
<div class="alert alert-success">

    <h3>{{deletemessage}}</h3>
   
</div>
{% endif %}

<p>
    <a href="{{base_path}}/recipes/addrecipe" class="btn btn-success">Lisää resepti</a>
</p>

<table class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>Reseptin nimi</th>
            <th>Lisäysaika</th>
            <th>Lisääjä</th>
            {% if user_logged_in %}
            
            <th>Muokkaa</th>
            <th>Poista</th>
            
            {% endif %}
        </tr>
    </thead>

    <tbody>
        {% for recipe in recipes%}
        <tr>
            <td><a href="{{base_path}}/recipepage/{{recipe.id}}">{{recipe.name}}</a></td>
            <td>{{recipe.addtime|date}}</td>
            <td>{{recipe.username}}</td>
          
            
            {% if user_logged_in %}
            
            <td>{{forms.edit_button("#{base_path}/recipepage/#{recipe.id}/edit")}}
            </td>
                
            <td>{{forms.destroy_button("#{base_path}/recipepage/#{recipe.id}/destroy")}}
            </td>
            
            {% endif %}
            
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}