{% extends "base.html" %} {% block content %} 

{% if message %}

<div class="alert alert-success">
    {{message}}
</div>
{% endif %}

<h1> {{recipe.name}}</h1>

<h3> Tarvikkeet </h3>

<ul class="list-unstyled" style="width:10%; float:left">
    {% for a in recipe.ingredient %}
    <li>{{a.ingredientname}} {{a.amount}}</li>
    {% endfor %}
</ul>

<!--<ul class="list-unstyled" style="width:10%; float:left">
    {% for a in ingredients %}
    <li>{{a.name}}</li>
    {% endfor %}
</ul>

<ul class="list-unstyled" style="width:10%; float:left">
    {% for a in amounts %}
    <li>{{a.amount}}</li>
    {% endfor %}
</ul>-->

<br>
<br>
<br>

<h3>Ohjeet</h3>
<p>{{recipe.method}}</p>

<p>Tänne tulee sitten kivasti kommenttiosio. </p>


<h3>Kommentit</h3>

{% endblock %}