{% extends "base.html" %} {% block content %}
<h2> Muokkaa kommenttia </h2>

{% if errors %} 
<div class="alert alert-danger error-input">
    <ul>
        {% for error in errors %} 
        <li>{{error}}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}


<form method ="post">
    <div class="form-group">
        <label>Kommentti</label>
        <textarea class="form-control" name="message">{{review.message}}</textarea>
        <input type="hidden" name="recipe_id" value="{{recipe_id}}">
        <button type="submit" class="btn btn-primary">Muokkaa</button>
    </div>
</form>

{% endblock %}